*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header{
    background-color:#0084FD;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.row-header{
    width: 100%;
    padding: 10px 0;
}

.col-header{
    width: 100%;
    display: flex;  
    align-items: center;
}

.margin-20{
    margin: 0 20px;
}

.margin-top-bottom-20{
    margin: 20px 0;
}

.padding-bottom-0{
    padding-bottom: 0px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

/*main*/
main{
    padding-top: 50px;
    font-family: sans-serif;
}

.container{
    width: 100%;
    border: solid black 2px;
}

.row{
    padding: 20px;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    padding: 20px;
    border: solid black 2px;
    margin: 20px 0;
    width: 100%;
}

.col-65{
    padding: 30px 30px 0;
    border: solid black 2px;
    margin: 20px 0;
    width: 100%;
}

.col-50{
    padding: 30px;
    border: solid black 2px;
    margin: 20px 0;
    width: 100%;
}

.col-33{
    padding: 30px;
    border: solid black 2px;
    margin: 20px 0;
    width: 100%;
}

.content{
    height: 400px;
    background-color: red;
    border: solid black 2px;

}

/*footer*/
footer{
    width: 100%;
    height: 300px;
    background-color: #333333;
}

/*list*/
ul{
    list-style: none;
    display: none;
}

li{
    padding:10px;
}

.menu{
    display: block;
}

.max-width-100{
    width: 100%;
}

.width-testimonial{
    width: 100%;
}

h2{
    font-size: 20px;
}

p{
    font-size:12px;
    line-height:1.5;
}

.border-radius-50{
    border-radius: 50%;
}


.button-style{
    font-size: 15px;
    width: 100%;
    background-color:#0084FD;
    padding: 10px;
    color: white;
    font-weight: bold ;
}

/*bg-color*/
.bg-white{
    background-color: white;
}

.bg-9792E4{
    background-color: #9792E4;
}

.bg-B5DDFF{
    background-color: #B5DDFF;
}

.color-0084FD{
    color:#0084FD;
}

.color-9792E4{
    color:#9792E4;
}

.color-white{
    color:white;
}

/*item position*/
.display-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.culumn{
    flex-direction: column;
}

.center{
    text-align: center;
}

.stretch{
    align-items: stretch;
}


/*responsive*/
@media screen and (min-width:480px){
    .col-65{
        width: calc(100%/3 * 2);
    }

    .col-33{
        width: calc(100%/3);
    }

    .col-100{
        display: flex;
    }

    .width-testimonial{
        width: 30%;
    }

}

@media screen and (min-width:768px){
    .container{
        width: 70%;
    }

    .menu{
        display: none;
    }

    ul{
        display: block;
        display: flex;
    }

    .col-65{
        display: flex;
    }

    .col-50{
        width: 50%;
    }

}